@import "tailwindcss";

@theme {
  /* Warna Primary & Secondary */
  --color-primary: #14B8A6;
  --color-secondary: #06B6D4;
  --color-tertiary: #10B981;

  /* Warna Layout */
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-border: #E2E8F0;

  /* Warna Teks */
  --color-heading: #0F172A;
  --color-body: #334155;
  --color-muted: #64748B;

  /* Semantic Colors */
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-info: #06B6D4;

  /* Typography */
  --font-heading: "Roboto", sans-serif;
  --font-body: "Nunito Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-body font-body antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-heading font-heading font-bold;
  }
}
